div.general
  - var full = member.name.split(' ');
  - var first = full[0];
  - var last = full.length > 0 ? full[full.length - 1] : '';
  h3 First Name
  input(type='text', name='first', value=first)
  h3 Last Name
  input(type='text', name='last', value=last)
  h3 Affiliation (School/Organization)
  input(type='text', name='affiliation')
  h3 Role
  input(type='text', name='role')
  h3 Borough
  select(name='borough')
    option(value='' disabled selected) Select a borough
    option(value='MANHATTAN') Manhattan
    option(value='QUEENS') Queens
    option(value='STATENISLAND') Staten Island
    option(value='THEBRONX') The Bronx
    option(value='BROOKLYN') Brooklyn
    option(value='OUTSIDE') Outside NYC
  h3 Are you a teacher?
  select(name='teacher')
    option(value='false') No
    option(value='true') Yes

  input(type='submit', name='checkin', value='Save')
  p.message
