div.teacher
  h3 Which grades do you teach?
  select(name='grades', size=4, multiple)
    option(value='ELEMENTARY') Elementary School
    option(value='MIDDLE') Middle School
    option(value='HIGH') High School
    option(value='POSTHIGH') Post High School
  h3 What subjects do you teach?
  select(name='subjects', size=7, multiple)
    option(value='ENGLISH') English/Language Arts
    option(value='MATHEMATICS') Mathematics
    option(value='SCIENCE') Science
    option(value='SOCIALSTUDIES') Social Studies
    option(value='FOREIGNLANGUAGE') Foreign Language
    option(value='ART') Art
    option(value='COMPUTERSCIENCE') Computer Science
