extends ./includes/layout.pug

block vars
  - var path='Events'

block content
  main
    .events
      - var first = true
      if (!events.length)
        section.event.latest
          h4 Uh Oh
          h1 No upcoming events.
        h1 No upcoming meetups
      each event in events
        if first
          section.event.latest(data-event_id=event.id, data-event_name=event.name, data-event_date=event.time)
            .container
              h4 Next Event
              h1 #{event.name}
            - first = false
          section.event(data-event_id=event.id, data-event_name=event.name, data-event_date=event.time)
            .container
              h1 #{event.name}
        else
          section.event(data-event_id=event.id, data-event_name=event.name, data-event_date=event.time)
            .container
              h1 #{event.name}

  include ./includes/footer.pug

block scripts
  script(type='text/javascript', src='/static/js/events.js')
