doctype html5
html(lang='en')
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='main.css')
    block headers
  body
    block content

    //- script(src="javascripts/jquery.min.js")
    block scripts
    script .
      // Google Analytics
