extends ./includes/layout.jade

block vars
  - var path='Search'

block content
  h2.meetup Computer Science &amp; the Arts
  input(class='search', type='text', placeholder='First Last')
  ul.results

block scripts
  script(type='text/javascript', src='/static/js/search.js')
