extends ./includes/layout.pug

block vars
  - var path='Search'

block content
  main
    div.search
      h1 CSNYC
      h3 #{event.name}
      input(type='text', class='searchbar')
    div.results

block scripts
  script(type='text/javascript', src='/static/js/search.js')
  - if (event)
  script(type='text/javascript').
    var event_id = !{JSON.stringify(event._id)};
