extends ./includes/layout.jade

block vars
  - var path='Search'

block content
  main.search
    hi #{JSON.stringify(event)}

block scripts
  script(type='text/javascript', src='/static/js/search.js')
