doctype html5
html(lang='en')
  block vars
  head
    title #{title}
    block styles
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body
    block content
    
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js')
    block scripts
    //- Google Analytics
