extends layout

block vars
  - var title='CSNYC Meetup Search'

block styles
  link(rel='stylesheet', href='/static/assets/styles/search.css')

block content
  div
    include ./includes/logo-heading.jade
      h2.meetup Computer Science &amp; the Arts
      input(class='search', type='text', placeholder='First Last')

block scripts
  script(type='text/javascript', src='/static/js/search.js')
