extends layout

block vars
  - var title='CSNYC Meetup Search'

block styles
  //- Dummy call to get node-sass-middleware working.
  link(rel='stylesheet', href='search.css')
  //- Actual path to CSS.
  link(rel='stylesheet', href='assets/styles/search.css')

block content
  div
    include ./includes/logo-heading.jade
      h2.meetup #{meetup.name}
      input(class='search', type='text', placeholder='First Last')
