$csnyc-pink: #E90B8B;
$csnyc-orange: #F69420;
$csnyc-green: #8DC540;
$csnyc-blue: #0F76BB;

$gray-color: #9B9B9B;

$off-white: ligten(#f0f0f0, 20%);
$light-gray: lighten($gray-color, 10%);
$lightest-gray: lighten(#D5D5D5, 14%);
