@import 'main';

.events {
  left: 10%;
  position: absolute;
  width: 80%;

  ul {
    margin-bottom: 50px;

    li {
      list-style-type: none;
      padding: 2%;
      border-radius: 3px;
      width: 100%;
      margin-top: 20px;
      background: rgba(35,31,32,0.5);
      @include box-shadow();

      h1 {
        font-size: 20px;
        text-transform: capitalize;
        color: white;
        font-weight: 500;

        &:hover {
          cursor: pointer;
        }
      }

      ul {
        margin-bottom: 0;

        li {
          display: inline-block;
          width: auto;
          margin-top: 0;
          padding: 0;
          margin-right: 30px;
          border: none;
          color: white;
          font-weight: 200;
          box-shadow: none;
          background: none;
        }
      }
    }
  }
}
