@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);

@import 'colors';
@import '_mixins';

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

body {
  background-color: #F8F8FE;
  font-family: 'Roboto', 'PT Sans', sans-serif;
}

header {
  overflow: auto;
  border-bottom: 1px solid lighten($gray-color, 30%);
  padding: 20px;
  background-color: white;

  .logo {
    overflow: auto;

    img {
      width: 150px;
      display: block;
    }

    h2 {
      color: $gray-color;
      font-weight: 300;
      text-transform: uppercase;

    }

    &.right {
      float: right;

      img {
        float: right;
      }
    }
  }
}

main {
  margin-top: 30px;
}

main.logo {
  * {
    margin: 0 auto;
    display: block;
  }

  width: 500px;
  margin: 0 auto;
  margin-top: 100px;

  h2 {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 5px;
    color: $gray-color;
  }
}

$input-size: 50px;

input[type='text'], input[type='password'] {
  outline: none !important;
  border: 0;
  -webkit-appearance: none;
  font-weight: 300;
  padding: 5px 0;
  font-size: 25px;
  margin-top: 30px;
  width: 100%;
  height: $input-size;
}

footer {

}
