@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);
@import 'resets';

$csnyc-pink: #E90B8B;
$csnyc-orange: #F69420;
$csnyc-green: #8DC540;
$csnyc-blue: #0F76BB;

header {
  overflow: auto;
  padding: 10px 20px;
  // background: rgba(35,31,32,0.8);
  background-color: #FFF;
  border-bottom: 1px solid #DEDEDE;
  color: #333;
  @include box-shadow();

  .logo {
    overflow: auto;

    img {
      width: 120px;
      display: block;
    }

    h2 {
      font-weight: 500;
      text-transform: uppercase;
      text-shadow: none;
      font-size: 15px;
      letter-spacing: 0.5px;
    }

    &.right {
      float: right;

      img {
        float: right;
      }
    }
  }
}

main {
  margin-top: 30px;
}

main.logo {
  * {
    margin: 0 auto;
    display: block;
  }

  max-width: 50%;
  padding: 80px 20px;
  margin: 0 auto;
  margin-top: 100px;
  background: rgba(35,31,32,0.5);
  border-radius: 5px;

  h2 {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 20px;
    color: white;
    letter-spacing: 1.5px;
  }
}

input[type='text'], input[type='password'] {
  outline: none !important;
  border: 0;
  -webkit-appearance: none;
  font-weight: 300;
  padding: 5px 0;
  font-size: 25px;
  margin-top: 30px;
  width: 80%;
  background-color: transparent;
  height: 50px;
}

footer {

}
