@import '_mixins';

* {
  padding: 0;
  margin: 0;
  @include text-shadow();
  letter-spacing: 1.2px;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

html, body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-134deg, #24C6DC 0%, #348AC7 100%);
  // background-image: linear-gradient(-135deg, #F857A6 0%, #FF5858 100%);
  background-attachment: fixed;
  color: white;
}

body {
  font-family: 'Roboto', 'PT Sans', sans-serif;/* Rectangle 22: */
}

::-webkit-input-placeholder {
  color: white;
}

:ms-input-placeholder {
  color: white;
}

::-moz-placeholder {
  color: white;
}

:-moz-placeholder {
  color: white;
}
