@import 'main';

$default-radius: 5px;

body {
  background-color: white;
}

main.logo {
  .search {
    background: white no-repeat url('../images/search.svg') center left;
    background-position: ($input-size/2) - 10;
    background-size: $input-size/2;
    padding-left: $input-size;
    color: #333;
    @include border-all();
    background-color: $off-white;
  }

  .results {
    list-style: none;
    background-color: $off-white;

    $result-height: 70px;
    $gap: ($result-height - ($result-height/1.3))/2;

    li {
      height: $result-height;
      padding: $gap;
      @include border-all();

      &:first-child {
        margin-top: -1;
      }

      &:last-child {
        border-bottom-left-radius: $default-radius;
        border-bottom-right-radius: $default-radius;
      }

      & + li {
        border-top: none;
      }

      img {
        float: left;
        height: $result-height/1.3;
        margin-top: $gap;
        border-radius: 100%;
        @include border-all();
      }

      .text {
        margin-left: 20px;
        float: left;

        h3 {
          margin-top: 10px;
        }

        .badge {
          margin-top: 2px;
          text-transform: uppercase;
          color: white;
          font-weight: 500;
          letter-spacing: 1px;
          padding: 3px 9px;
          border-radius: 6px;
          font-size: 12px;
          display: inline-block;

          &.veteran {
            background-color: $csnyc-green;
          }

          &.none {
            background-color: $light-gray;
          }
        }
      }
    }
  }
}
